* {
    margin: 0;
}

.main-content { 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    padding: 95px 0px;
}

.impressum-width {
    width: 950px;
}

.bg-orange {
    background-color: #ff9600;
}

@media (max-width: 970px) {
    .impressum-width {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .impressum-width {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .impressum-width {
        width: 300px;
    }
}