@media (max-width: 1300px) {
    canvas {
        width: 80vw !important;
    }
    .overlay-start-screen {
        width: 80vw !important;
    }
    .end-overlay {
        top: unset;
    }
    .end-overlay-lose {
        width: 80vw;
    }
    .mobile-gameplay {
        width: 100% !important;
        top: unset !important;
        bottom: 0 !important;
        position: absolute;
    }
    .overlay-buttons {
        width: unset !important;
        right: 10vw;
    }
}

@media (max-width: 900px) {
    .overlay-start-screen {
        width: 80vw !important;
        height: 400px;
    }
}

@media (max-width: 600px) {
    .overlay-start-screen {
        width: 80vw !important;
        height: 230px;
    }
    .mobile-btn {
        height: 35px;
        width: 35px;
    }
    .overlay-start-screen-button {
        height: 35px;
        width: 35px;
        margin-left: 12px;
    } 
    .play-button {
        padding: 12px;
    }
    .refresh-button {
        padding: 12px;
    }
    .refresh-button-image {
        padding: 12px;
    }
    .settings-button {
        padding: 12px;
    }
}

@media (max-width: 350px) {
    .overlay-start-screen {
        width: 90vw !important;
        height: 200px;
    }   
    canvas {
        height: 200px !important;
    }
}

@media(min-width: 1302px) {
    .end-overlay-lose {
        height: 46vh;
    }
}

@media(min-width: 480px) {
    .devices-overlay {
        width: 0;
        overflow: hidden;
    }
}

@media (min-width: 300px) and (max-height: 750px) {
    .overlay-start-screen {
        top: unset;
        height: 80vh;
        width: 86vw;
    }   
    canvas {
        top: unset !important;
        height: 80vh;
    }
    .fullscreen {
        align-items: center;
    }
}

@media (max-height: 900px) {
    .devices-overlay {
        font-size: 58px;
    }
}

@media (max-height: 800px){
    .mobile-hidden {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
    #end-overlay-image {
        position: absolute;
        top: 95px;
    }
    .mobile-gameplay {
        display: none !important;
    }
}

@media (max-height: 400px) {
    .devices-overlay {
        font-size: 48px;
    }
}