@font-face {
    font-family: 'zabars';
    src: url('../assetes/font/zabars.ttf') format('truetype');
} 

* {
    box-sizing: border-box;
    color: black;
    font-family: "zabars", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

canvas { 
   background-color: black;
   display: block;
}

body > h1 {
    font-size: 64px;
    letter-spacing: 8px;
    text-shadow: 6px 4px 1px rgba(0, 0, 0, 0.5);
}

.overlay-start-screen {
    position: absolute;
    top: 219px;
    height: 485px;
    width: 1080px;
    background-image: url("../assetes/img/9_intro_outro_screens/start/startscreen_1.png");
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.overlay-start-screen-button {
    height: 62px;
    width: 62px;
    border-radius: 24px;
    margin-left: 32px;
}

.end-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 320px;
    position: absolute;
    top: 219px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9600;
}

.button-image {
    height: 48px;
    width: 48px;
}

.play-button-end {
    background-image: url("../assetes/icon/play.png");
    background-color: #ff9600;
    padding: 24px;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 18px;
    background-image: url("../assetes/icon/exit.png");
    background-repeat: initial;
    background-position: center;
    background-size: cover;
    height: 54px;
    width: 54px;
    border-radius: 40px;
    background-color: #ff9600;
}

.arrow-keys {
    height: 44px;
    width: 44px;
}

.bottle-image {
    height: 75px;
    width: 75px;
}

.overlay-start-screen-button:hover {
    cursor: pointer;
}

.hidden {
    width: 0 !important;
}

.hidden-menu {
    width: 0;
    overflow: hidden;
}

.mobile-hidden {
    display: none !important;
}

.gameplay-menu {
    background-color: rgba(0, 0, 0, 0.7);
    width: 0;
    position: absolute;
    top: 219px;
    height: 480px;
    display: flex;
    justify-content: center;
}

.gameplay-menu * {
    color: white;
}

.mobile-gameplay {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1080px;
    height: 100px;
    background-color: #ff9600;
    bottom: 0;
    padding: 48px;
}

.mobile-btn {
    height: 62px;
    width: 62px;
    border-radius: 24px;
}

.mobile-btn:hover {
    cursor: pointer;
}

.mobile-right-btn {
    background-image: url("../assetes/icon/arrow-right.png");
}

.mobile-left-btn {
    background-image: url("../assetes/icon/arrow-left.png");
}

.mobile-space-btn {
    background-image: url("../assetes/icon/arrow-up.png");
}

.mobile-throw-btn {
    background-image: url("../assetes/icon/arrow-throw.png");
}

.mute-button {
    background-image: url('../assetes/icon/note.png');
}

.settings-button {
    background-image: url('../assetes/icon/settings.png');
}

.fullscreen-button {
    background-image: url('../assetes/icon/refresh.png');
}

.play-button {
    background-image: url('../assetes/icon/play.png');
}

.pause-button {
    background-image: url('../assetes/icon/pause.png');
}

.background-picture {
    background-position: center;
    background-size: cover;
}

.mobile-overlay {
    background-image: url('../assetes/icon/settings.png');
}

.overlay-buttons {
    position: absolute;
    top: 220px;
    width: 1080px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.overlay-buttons > .mobile-btn {
    background-color: orange;
    margin-right: 12px;
}

.fullscreen {
    display: flex;
    background-image: url(../assetes/icon/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.gameplay-text {
    font-size: 30px;
}

.bold {
    font-weight: bold;
    font-size: 32px;
}

.f_s_44 {
    font-size: 44px;
}

.f_s_50 {
    font-size: 50px;
}

.m_36 {
    margin: 0px 36px;
}

.devices-overlay {
    position: absolute;
    bottom: 25px;
    font-size: 80px;
    color: black;
}

.rotate {
    rotate: 90deg;
}

.fullscreen-mode {
    height: 72vh !important;
    width: 100vw !important;
}